.paymentWrapper {
    background-color: #FF86B3;
    width: 428px;
    height: 926px;
}

.titles-width-pay {
    max-width: 270px;
    margin: 0 auto;
    padding-top: 130px;
}

.pay-btns {
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pay {
    width: 276px;
    height: 76px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 41px;
}

.images img:first-of-type {
    position: relative;
    left: -134px;
    top: 44px;
}

.images img:last-of-type {
    position: relative;
    left: 257px;
    top: -78px;
}
